/*
Global overrides for solana-wallet-adapter
 */
.wallet-adapter-button {
    border-radius: 24px !important;
    font-family: 'Poppins', 'Verdana', 'Arial', sans-serif !important;
    background-color: #ff5722 !important;
}
.wallet-adapter-modal-wrapper {
    border-radius: 24px !important;
    font-family: 'Poppins', 'Verdana', 'Arial', sans-serif !important;
}
